*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

body {
    min-height: 100hv;
    width: 100%;
    background-color: #e6f3ff;
    background: url(images/2f.webp) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    
}

.card:hover{
    transform: scale(1.1);
}
.cardd-red {
    background-color: rgba(73, 255, 255, 0.336);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.cardd:hover{
    transform: scale(1.1);
}
.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}
.card-red {
    background-color: rgb(255, 0, 0);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-red:hover{
    transform: scale(1.1);
}
.card-darkred {
    background-color: darkred;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-darkred:hover{
    transform: scale(1.1);
}
.card-orange {
    background-color: orange;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-orange:hover{
    transform: scale(1.1);
}
.card-darkorange {
    background-color: darkorange;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-darkorange:hover{
    transform: scale(1.1);
}
.card-yellow {
    background-color: yellow;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-yellow:hover{
    transform: scale(1.1);
}
.card-lightyellow {
    background-color: lightyellow;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-lightyellow:hover{
    transform: scale(1.1);
}
.card-green{
    background-color: green;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-green:hover{
    transform: scale(1.1);
}
.card-lightgreen{
    background-color: lightgreen;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-lightgreen:hover{
    transform: scale(1.1);
}
.card-blue:hover{
    transform: scale(1.1);
}
.card-blue{
    background-color: blue;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card-blue:hover{
    transform: scale(1.1);
}
.card-lightblue{
    background-color: lightblue;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card-lightblue:hover{
    transform: scale(1.1);
}
.card-pink{
    background-color: pink;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-pink:hover{
    transform: scale(1.1);
}
.card-darkpink{
    background-color: #FF1493;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-darkpink:hover{
    transform: scale(1.1);
}
.card-white{
    background-color: rgb(255, 255, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-white:hover{
    transform: scale(1.1);
}
.card-purple{
    background-color: purple;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-purple:hover{
    transform: scale(1.1);
}

.card-brown{
    background-color: brown;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-brown:hover{
    transform: scale(1.1);
}
.card-black{
    background-color: black;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-black:hover{
    transform: scale(1.1);
}
.card-lightblack{
    background-color: #303030;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-lightblack:hover{
    transform: scale(1.1);
}
.icon {
    color: #3a6cf4;
    font-size: 4em;
    text-align: center; 
    margin-bottom: 20px;  
}
.iconn {
    color: #00ff73;
    font-size: 6em;
    text-align: center;   
}
.icon img {
    width: 100%; 
    display: flex;
    align-items: center;
    text-align: center;
    height: 50%;  
}
.carde {
    background-color: blue;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    clip-path: polygon(0% 0%, 0% 100%, 45% 100%, 100% 100%, 100% 0%);
    width: 200px;
    height: 160px;
    margin-left: 95px;
}


.carde:hover {
    transform: scale(1.1);
}
.cardee {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    clip-path: circle(50% at 50% 50%);
    width: 200px;
    height: 200px;
    margin-left: 95px;
}

.cardee:hover{
    transform: scale(1.1);
}
.carde:hover{
    transform: scale(1.1);
}
.cardeee {
    background-color: rgb(250, 235, 19);
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 200px;
    height: 150px;
    margin-left: 95px;
}

.cardeee:hover {
    transform: scale(1.1);
}
.cardeeee {
    background-color: pink;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 200px;
    height: 150px;
    margin-left: 95px;
}

.cardeeee:hover {
    transform: scale(1.1);
}
.cardeeeee {
    background-color: black;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    width: 200px;
    height: 150px;
    margin-left: 95px;
}

.cardeeeee:hover {
    transform: scale(1.1);
}
.cardeeeee1 {
    background-color: rgb(14, 165, 59);
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    clip-path: polygon(53% 0, 72% 48%, 52% 100%, 31% 49%);
    width: 200px;
    height: 150px;
    margin-left: 95px;
}

.cardeeeee1:hover {
    transform: scale(1.1);
}
.cardeeeee2 {
    background-color: purple;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    width: 200px;
    height: 150px;
    margin-left: 95px;
}

.cardeeeee2:hover {
    transform: scale(1.1);
}
.info {
    text-align: center;
}


.info .botton{
    color: #3a6cf4;
    margin: 10px;
}
.info .bottonn{
    color: #f4b33a;
    margin: 10px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 300px;
}
.contentt {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 300px;
}

.title {
    display: flex;
    justify-content: center;
    color: #111111;
    font-size: 8.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.title1{
    display: flex;
    
    color: #111111;
    font-size: 5.2em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-left: 100px;
}

.botton {
    font-size: 52px;
    width: 120px;
    border: #000000 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}
.botton:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: #00aeff;
    color: #fff;
}
.bottonn {
    font-size: 52px;
    width: 120px;
    border: #000000 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}
.bottonn:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: #ffbb00;
    color: #fff;
}
.botton-red {
    font-size: 52px;
    width: 120px;
    border: red 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: red;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.botton-red:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: red;
    color: #fff;
}
.botton-darkred {
    font-size: 52px;
    width: 120px;
    border: darkred 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: darkred;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.botton-darkred:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: darkred;
    color: #fff;
}
.botton-redd {
    font-size: 52px;
    width: 120px;
    border: red 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: red;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 37px;
}
.botton-redd:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: red;
    color: #fff;
}
.botton-orange {
    font-size: 52px;
    width: 120px;
    border: orange 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: orange;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.botton-orange:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: orange;
    color: #fff;
}
.botton-darkorange {
    font-size: 52px;
    width: 120px;
    border: darkorange 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: darkorange;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.botton-darkorange:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: darkorange;
    color: #fff;
}
.bottonn-yellow {
    font-size: 52px;
    width: 120px;
    border: yellow 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: yellow;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-yellow:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: yellow;
    color: #fff;
}
.bottonn-lightyellow {
    font-size: 52px;
    width: 120px;
    border: lightyellow 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: lightyellow;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-lightyellow:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: lightyellow;
    color: #fff;
}
.bottonn-yelloww {
    font-size: 52px;
    width: 120px;
    border: yellow 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: yellow;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 35px;
}
.bottonn-yelloww:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: yellow;
    color: #fff;
}
.bottonn-green {
    font-size: 52px;
    width: 120px;
    border: green 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: green;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-green:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: green;
    color: #fff;
}
.bottonn-lightgreen {
    font-size: 52px;
    width: 120px;
    border: lightgreen 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: lightgreen;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-lightgreen:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: lightgreen;
    color: #fff;
}
.bottonn-blue {
    font-size: 52px;
    width: 120px;
    border: blue 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: blue;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-blue:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: blue;
    color: #fff;
}
.bottonn-lightblue {
    font-size: 52px;
    width: 120px;
    border: lightblue 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: lightblue;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-lightblue:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: lightblue;
    color: #fff;
}
.bottonn-bluee {
    font-size: 52px;
    width: 120px;
    border: blue 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: blue;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 23px;
}
.bottonn-bluee:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: blue;
    color: #fff;
}
.bottonn-black {
    font-size: 52px;
    width: 120px;
    border: black 4px solid;
    border-radius: 12px;
    color:#363636;
    background-color: black;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-black:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: black;
    color: #fff;
}
.bottonn-blackk {
    font-size: 52px;
    width: 120px;
    border: black 4px solid;
    border-radius: 12px;
    color:#363636;
    background-color: black;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-blackk:hover{
    font-size: 50px;
    width: 120px;
    transition: all 0.5s;
    background-color: black;
    color: #fff;
}
.bottonn-greenn {
    font-size: 42px;
    width: 120px;
    border: rgb(14, 165, 59) 4px solid;
    border-radius: 12px;
    color:#363636;
    background-color: rgb(14, 165, 59);
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-greenn:hover{
    font-size: 40px;
    width: 120px;
    transition: all 0.5s;
    background-color: rgb(14, 165, 59);
    color: #fff;
}
.bottonn-pink {
    font-size: 52px;
    width: 120px;
    border: pink 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: pink;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-pink:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: pink;
    color: #fff;
}
.bottonn-darkpink {
    font-size: 52px;
    width: 120px;
    border: #FF1493 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: #FF1493;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-darkpink:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: #FF1493;
    color: #fff;
}
.bottonn-pinkk {
    font-size: 42px;
    width: 120px;
    border: pink 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: pink;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
    margin-top: 27px;
    margin-left: 17px;
}
.bottonn-pinkk:hover{
    font-size: 40px;
    width: 120px;
    transition: all 0.5s;
    background-color: pink;
    color: #fff;
}
.bottonn-white {
    font-size: 52px;
    width: 120px;
    border: white 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-white:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: white;
    color: rgb(190, 251, 255);
}
.bottonn-purple {
    font-size: 52px;
    width: 120px;
    border: purple 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: purple;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-purple:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: purple;
    color: #fff;
}
.bottonn-purplee {
    font-size: 52px;
    width: 120px;
    border: purple 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: purple;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-purplee:hover{
    font-size: 50px;
    width: 120px;
    transition: all 0.5s;
    background-color: purple;
    color: #fff;
}
.bottonn-brown {
    font-size: 52px;
    width: 120px;
    border: brown 4px solid;
    border-radius: 12px;
    color:#000000;
    background-color: brown;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}
.bottonn-brown:hover{
    font-size: 50px;
    width: 140px;
    transition: all 0.5s;
    background-color: brown;
    color: #fff;
}


/* cloock */

.datetime{
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI" , sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
    position: absolute;
}
.datetime .siu{
    color: #fff;
    background: #10101E;
    border: 0px;
    transition: 0.5s;
}

.datetime:hover .siu{
    background: #2E94E3;
    
}


.datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px;
}

.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

/* footer */ 

.container{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .btn{
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
    margin-top: 60px;
    margin-left: 100px;
}
.container .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: rgb(0, 0, 0);
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.container .btn:hover a{
    letter-spacing: 3px;
}
.container .btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.container .btn:hover a::before{
    transform: skewX(45deg) translateX(200%);
}
.container .btn::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.container .btn:hover::before{
    bottom: 0;
    height: 50%;
    width: 50%;
    border-radius: 30px;
    transition-delay: 0.5s;
}
.container .btn::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.container .btn:hover::after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}
.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after {
    background: #ff1571;
    box-shadow: 0 0 5px #ff1571, 0 0 15px #ff1571, 0 0 30px #ff1571, 0 0 60px #ff1571;
}
.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after {
    background: #2bd2ff;
    box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
}



/* media */

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;


    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
        
    }

    .main-content h2 {
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 1.4em;
    }
}

@media (max-wicth: 300px){
   body{
       font-size: 10px;
   } 
}